*{
    padding: 0;
    margin: 0;

    font-family: "Comic Sans MS", serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background1.png");
    background-size:cover
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #f6f6f6;
    font-size: 65px;
    letter-spacing: 3px;
}

p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #f6f6f6;
    letter-spacing: 2px;
    font-size: 16px;
}

.form-box {
    position: center;
    background-color: transparent;
    width: 900px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* animation */
    transition: 0.5s ease-in-out;
}

.register-box, .login-box {
    /* vertical */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none;
    transition: 0.5s;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 5px;
    color: white;
}

input {
    background-color: transparent;
    width: 70%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 10px 0;
    text-indent: 10%;
    font-size: 18px;
    letter-spacing: 2px;
}

input::placeholder {
    color: #fff;
}

input:focus{
    outline: none;
    border-bottom: 2px solid black;
    transition: 0.5s;
}

input:focus::placeholder {
    opacity: 0;
}


.form-box button {
    width: 50%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(227,167,168);
    padding:15px;
    color: rgb(227,167,168);
    letter-spacing: 2px;
    font-size: 24px;
    cursor: pointer;

}

.form-box button:hover {
    background-color: rgb(255,206,206);
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    color: white;
    transition: background-color 0.4s ease;
}

/* .gender {
    padding-left: 20%;
} */


input.mf {
    margin-left: 10%;
    margin-right: 5%;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    /* opacity: 0; */
}

input:checked+label {
    background-color: rgb(210,245,235);
    border-radius: 5px;
}

.ageSlider {
    position: relative;
}

.form-box img{
    width: 60px;
    height: 60px;
    opacity: 1.0;
    border-radius: 5px;
}