/* Index page */

*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background1.png");
    background-size:cover
}

.container {
    background-color: white;
    width: 800px;
    height: 500px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    position: relative;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #f6f6f6;
    letter-spacing: 3px;
}

p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #f6f6f6;
    letter-spacing: 2px; 
    font-size: 16px;
}

.form-box {
    position: absolute;
    top: -10%;
    left: 2%;
    background-color: rgb(255,226,225);
    width: 350px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    /* animation */
    transition: 0.5s ease-in-out;
}

.register-box, .login-box {
    /* vertical */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none;
    transition: 0.5s;
}

h3 {
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 5px;
    color: white;
}

input {
    background-color: transparent;
    width: 70%;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding: 10px 0;
    text-indent: 10%;
    font-size: 18px;
    letter-spacing: 2px;
}

input::placeholder {
    color: #fff;
}

input:focus{
    outline: none;
    border-bottom: 2px solid black;
    transition: 0.5s;
}

input:focus::placeholder {
    opacity: 0;
}


.form-box button {
    width: 70%;
    margin-top: 35px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 10px;
    padding:15px;
    color: #a262ad;
    letter-spacing: 2px;
    font-size: 24px;
    cursor: pointer;

}

.form-box button:hover {
    background-color: skyblue;
    color: white;
    transition: background-color 0.5s ease;
}

.con-box {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.con-box.left {
    left: -2%;
}

.con-box.right{
    right: -2%
}

.con-box h2 {
    color: #8e9aaf;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 4px;
}

.con-box p{
    font-size: 12px;
    letter-spacing: 1px;
    color: #8e9aaf;
    text-align: center;
}

.con-box span{
    color: #d3b7d8;
}

.con-box img{
    width: 250px;
    height: 200px;
    opacity: 0.9;
}

.con-box button {
    margin-top: 3%;
    background-color: #fff;
    color: #a262ad;
    border: 1px solid #d3b7d8;
    padding: 5px 10px;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.con-box button:hover {
    background-color: skyblue;
    color: #f6f6f6;
}


input.mf {
    margin-left: 20%;
}


input[type="radio"] {
    padding-left: 25%;
    width: 20px;
    height: 20px;
    /* opacity: 0; */
}


input:checked+label { 
    background-color: skyblue;
    border: 1px solid skyblue;
    border-radius: 5px;
} 

input:checked+label::after {

    content: "";
    /* border: 1px solid #fff; */
    /* border-top: none;
    border-left: none; */
    
    transform: rotate(45deg)
}

.ageSlider {
    position: relative;
}