* {
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", serif;
}


body {
    background-image: url("../images/background1.png");
    background-size:cover
}

/* Font */

@font-face {
    font-family:'Lato-Black';
    src: url('../fonts/lato/Lato-Black.ttf');
}


@font-face {
    font-family:'Lato-Light';
    src: url('../fonts/lato/Lato-Light.ttf');
}

/* Title */
.main_title {
    width: 100%;
    height: 100px;
    /* overflow: hidden; */
    background-color: transparent;
    font-size: 60px;
    color: #f6f6f6;
    text-shadow: rgb(166,199,208) 3px 0 0, rgb(166,199,208) 0 3px 0, rgb(166,199,208) -3px 0 0, rgb(166,199,208) 0 -3px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    letter-spacing: 3px;
    color: white;
}


/* Main Area*/
.main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 500px;
}
.main .left{
    float: left;
    width: 500px;
    height: 600px;
    border-width: 1px;
    background-color: white;
}

.main #canvas{
    float: left;
    width: 500px;
    height: 600px;
    border-width: 1px;
    background-color: white;
}


.main .left h1{
    color: white;
}


/* Right */

.main .right {
    float: left;
    width: 550px;
    margin-top: 50px;
    padding-left: 50px;
    height: 550px;
    margin-left: 50px;
    /* background-color: pink; */
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
}



span {
    margin-left: 50px;
    font-size: 20px;
}


.slider-box {
    display: inline;
}

.slider {
    float: left;
    margin-top: 10px;
    width: 250px;
    height: 40x;
    padding: 0px;
}


.slider-box span {
    float: left;
    line-height: 60px;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    background-image: linear-gradient(rgb(211, 230, 106), #2935da);
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }
  
  /* Input Thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: rgb(157, 192, 163);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(211, 230, 106), #3553a7);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: rgb(0, 100, 92);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: rgb(0, 100, 92);
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: rgb(0, 100, 92);
  }
  
  input[type="range"]::-ms-thumb:hover {
    background: rgb(0, 100, 92);
  }
  
  /* Input Track */
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }



.next button{
    float: right;
    margin-top: 200px;
    
    width: 150px;
    height: 75px;
    background-color: pink;
    border-radius: 20px;
    font-family: Lato-Black;
    line-height: 75px;
    text-align: center;
    font-size: 36px;
}

.logout button{
    float: right;
    margin-top: 200px;
    margin-right: 30px;


    width: 150px;
    height: 75px;
    background-color: pink;
    border-radius: 20px;
    font-family: Lato-Black;
    line-height: 75px;
    text-align: center;
    font-size: 36px;
}


