* {
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", serif;
}


body {
    background-image: url("../images/background1.png");
    background-size: cover;
    font-size: .875rem;
}

.h2 {
    font-size: 48px;
}


.feather {
    width: 16px;
    height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
  right: 0;
  */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* comparison */

.comparison {
    overflow: hidden;
    margin-top: 100px;
    width: 1200px;
    height: 600px;
}
.comparison .left{
    float: left;
    width: 400px;
    height: 600px;
    border-width: 1px;
    background-color: white;
}

.comparison .left img{
    width: 400px;
    height: 600px;
}
.comparison .right img {
    width: 400px;
    height: 600px;
}

.comparison .right{
    float: right;
    width: 400px;
    height: 600px;
    border-width: 1px;
    background-color: white;
}


#before_canvas{
    float: left;
    width: 400px;
    height: 500px;
    border-width: 1px;
    background-color: white;
}

#after_canvas{
    float: left;
    margin-left: 100px;
    width: 400px;
    height: 500px;
    border-width: 1px;
    background-color: white;
}


/* Button */


.last button{
    position: absolute;
    left: 7%;
    top: 0%;
    width: 150px;
    height: 75px;
    background-color: pink;
    border-radius: 20px;
    font-family: Lato-Black;
    line-height: 75px;
    text-align: center;
    font-size: 36px;
}

.logout button{
    position: absolute;
    left: 80%;
    top: 0%;
    width: 150px;
    height: 75px;
    background-color: pink;
    border-radius: 20px;
    font-family: Lato-Black;
    line-height: 75px;
    text-align: center;
    font-size: 36px;
}

/* preloader */

#preloader {
    background: #000 url(../images/genshin.gif) no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

