* {
    padding: 0;
    margin: 0;

    font-family: "Comic Sans MS", serif;
}


body {
    background-image: url("../images/background1.png");
    background-size: cover
}


/* Title */
.title {
    width: 100%;
    height: 100px;

    /* overflow: hidden; */
    background-color: transparent;
    font-size: 30px;
    color: #f6f6f6;
    text-shadow: rgb(166, 199, 208) 3px 0 0, rgb(166, 199, 208) 0 3px 0, rgb(166, 199, 208) -3px 0 0, rgb(166, 199, 208) 0 -3px 0;
    text-align: center;
    margin: center;
}

.title h1 {
    vertical-align: middle;
    line-height: 100px;
    letter-spacing: 3px;
    color: white;
}

/* Main Area*/
.main {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 500px;
}

.main #canvas {
    float: left;
    width: 400px;
    height: 500px;
    border-width: 1px;
    background-color: white;
}


/* Right */

.main .right {
    float: left;
    width: 500px;
    height: 500px;
    /* margin-top: -15px; */
    margin-left: 100px;
    /*cursor: pointer;*/
}



.bottom_text {

    font-size: 10px;
}


.right img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    object-fit: cover;
}

ul {
    list-style: none;
    display: inline-block;
}

ul li {
    display: inline-block;
    margin-right: 10px;
    width: 120px;
}

hr {
    margin-top: 23px;
    border-top: 2px double rgb(202, 147, 148);
    margin-bottom: 30px;
}

.next button {
    float: right;
    width: 50%;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(227, 167, 168);
    padding: 15px;
    color: rgb(227, 167, 168);
    letter-spacing: 2px;
    font-size: 24px;
    cursor: pointer;
}

.next button:hover {
    background-color: rgb(255, 206, 206);
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    color: white;
    transition: background-color 0.4s ease;
}


/* preloader */

#preloader {
    background: black url(../images/2.gif) no-repeat center center;
    background-size: 50%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}


