* {
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", serif;
}


body {
    background-image: url("../images/background1.png");
    background-size:cover
}

/* Font */

@font-face {
    font-family:'Lato-Black';
    src: url('../fonts/lato/Lato-Black.ttf');
}


@font-face {
    font-family:'Lato-Light';
    src: url('../fonts/lato/Lato-Light.ttf');
}

/* Title */
.main_title {
    width: 100%;
    height: 100px;
    /* overflow: hidden; */
    background-color: transparent;
    font-size: 60px;
    color: #f6f6f6;
    text-shadow: rgb(166,199,208) 3px 0 0, rgb(166,199,208) 0 3px 0, rgb(166,199,208) -3px 0 0, rgb(166,199,208) 0 -3px 0;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    letter-spacing: 3px;
    color: white;
}


/* Main Area*/
.main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 500px;
}
.main .left{
    float: left;
    width: 500px;
    height: 600px;
    border-width: 1px;
    background-color: white;
}

.main #canvas{
    float: left;
    width: 500px;
    height: 600px;
    border-width: 1px;
    background-color: white;
}


.main .left h1{
    color: white;
}


/* Right */

.main .right {
    float: left;
    width: 550px;
    /* margin-top: 50px; */
    padding-left: 50px;
    height: 550px;
    margin-left: 50px;
    /* background-color: pink; */
    border-radius: 20px;
    
    position: relative;
    top: -15px;
    left: -20px;
    border-color: transparent;
}



span {
    margin-left: 50px;
    font-size: 20px;
}


.slider-box {
    display: inline;
}

.slider {
    float: left;
    margin-top: 10px;
    width: 250px;
    height: 40x;
    padding: 0px;
}


.slider-box span {
    float: left;
    line-height: 50px;
}

:root {
  --slider-width: 200px;
  --slider-height: 20px;
}

input[type='range'] {
  overflow: hidden;
  cursor: ew-resize;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    width: var(--slider-width);
    -webkit-appearance: none;

    border-radius: 3px;
    background-color: rgb(245,200,200);
  }

  input[type='range']::-webkit-slider-thumb {
    height: var(--slider-height);
    -webkit-appearance: none;
    box-shadow: calc(-1 * var(--slider-width)) 0 0 var(--slider-width) rgb(103,155,134);

    width: 0px;
  }
}

/* firefox support */
input[type="range"]::-moz-range-progress {
  background-color: rgb(103,155,134); 
}

input[type="range"]::-moz-range-thumb {
  height: var(--slider-height);
  width: 0;
  border: none;
  box-shadow: calc(-1 * var(--slider-width)) 0 0 var(--slider-width) rgb(103,155,134);
  box-sizing: border-box;
}

/* IE support */
input[type="range"]::-ms-fill-upper {  
  background-color: rgb(245,200,200);
}

input[type="range"]::-ms-fill-lower {
  background-color: rgb(103,155,134); 
}

/*
input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    background-image: linear-gradient(red, red);
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: rgb(157, 192, 163);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(211, 230, 106), #3553a7);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: rgb(0, 100, 92);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: rgb(0, 100, 92);
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: rgb(0, 100, 92);
  }
  
  input[type="range"]::-ms-thumb:hover {
    background: rgb(0, 100, 92);
  }
  
  input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
*/


.next button {
    position: relative;
    left: -35%;
    top: -75px;

    float: right;
    width: 230px;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(227,167,168);
    padding:15px;
    color: rgb(227,167,168);
    letter-spacing: 2px;
    font-size: 24px;
    cursor: pointer;
}

.next button:hover {
  background-color: rgb(255,206,206);
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  color: white;
  transition: background-color 0.4s ease;
}

.history button{
  position: relative;
  left: 3%;
  top: -75px;

  float: right;
  width: 230px;
  background-color: #f6f6f6;
  outline: none;
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(227,167,168);
  padding:15px;
  color: rgb(227,167,168);
  letter-spacing: 2px;
  font-size: 24px;
  cursor: pointer;
}

.history button:hover {
  background-color: rgb(255,206,206);
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  color: white;
  transition: background-color 0.4s ease;
}

.logout button{
    position: absolute;
    left: 90%;
    top: 15%;
    
    float: right;
    width: 90px;
    height: 90px;

    background-color: #f6f6f6;
    outline: none;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(227,167,168);
    padding:15px;
    color: rgb(227,167,168);
    letter-spacing: 2px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.logout button:hover {
  background-color: rgb(255,206,206);
  border-radius: 50px;
  border-width: 3px;
  border-style: solid;
  color: white;
  transition: background-color 0.4s ease;
}
