* {
    padding: 0;
    margin: 0;
    
    font-family: "Comic Sans MS", serif;
}


body {
    height: 100vh;
    background-image: url("../images/background1.png");
    background-size:cover
}


/* Title */
.title {
    width: 100%;
    height: 100px;

    /* overflow: hidden; */
    background-color: transparent;
    font-size: 30px;
    color: #f6f6f6;
    text-shadow: rgb(166,199,208) 3px 0 0, rgb(166,199,208) 0 3px 0, rgb(166,199,208) -3px 0 0, rgb(166,199,208) 0 -3px 0;
    text-align: center;
    margin: center;
}

.title h1 {
    vertical-align: middle;
    line-height: 100px;
    letter-spacing: 3px;
    color: white;
}

/* Main Area*/
.main {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    height: 500px;
}
.main .left{
    float: left;
    width: 400px;
    height: 500px;
    border-width: 1px;
    background-color: blue;
}

.main #canvas{
    float: left;
    width: 400px;
    height: 500px;
    border-width: 1px;
    background-color: blue;
}


.main .left h1{
    color: white;
}


/* Right */

.main .right {
    float: left;
    width: 500px;
    height: 500px;
    margin-left: 50px;
}


/* Button Images */

.img_button {
    width: 85px;
    height: 85px;
    border-radius: 10px;
    cursor: pointer;
}

.img {
    width: 85px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.bottom_text {
    color: rgb(211,157,158);
    font-size: 10px;
}


/* Clothes */

.clothes {
    margin-top: 50px;
    width: 500px;
    height: 75px;
    background-color: white;
    border-radius: 25px;
}

/* Hair */
.hair {
    margin-top: 50px;
    width: 500px;
    height: 75px;
    background-color: white;
    border-radius: 25px;
}

/* Hair Color */
.hair_color {
    margin-top: 50px;
    width: 500px;
    height: 75px;
    background-color: white;
    border-radius: 25px;
}


ul {
    list-style: none;
    margin: auto;
    display: inline-block;
    margin-left: 30px;
}

ul li {
    display: inline-block;
    margin-right: 20px;
}

.next button {
    float: right;
    margin-top: 30px;
    width: 50%;
    background-color: #f6f6f6;
    outline: none;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(227,167,168);
    padding:15px;
    color: rgb(227,167,168);
    letter-spacing: 2px;
    font-size: 24px;
    cursor: pointer;
}

.next button:hover {
    background-color: rgb(255,206,206);
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    color: white;
    transition: background-color 0.4s ease;
}