* {
    padding: 0;
    margin: 0;
}


body {
    background-image: url("../images/background1.png");
    background-size:cover
}

/* Font */

@font-face {
    font-family:'Lato-Black';
    src: url('../fonts/lato/Lato-Black.ttf');
}


@font-face {
    font-family:'Lato-Light';
    src: url('../fonts/lato/Lato-Light.ttf');
}


.model {
    float: right;
    width: 300px;
    height: 500px;
    background-color: pink;

}


.next button{
    float: left;
    margin-top: 30px;
    width: 200px;
    height: 100px;
    background-color: pink;
    border-radius: 20px;
    font-family: Lato-Black;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
}