* {
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", serif;
}


body {
    background-image: url("../images/background1.png");
    background-size:cover
}

/* Font */

@font-face {
    font-family:'Lato-Black';
    src: url('../fonts/lato/Lato-Black.ttf');
}


@font-face {
    font-family:'Lato-Light';
    src: url('../fonts/lato/Lato-Light.ttf');
}



/* Main Area*/
.main {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 500px;
}
.main .left{
    float: left;
    width: 500px;
    height: 600px;
    border-width: 1px;
    background-color: blue;
}

.main #canvas{
    float: left;
    width: 500px;
    height: 600px;
    border-width: 1px;
    background-color: blue;
}


.main .left h1{
    color: white;
}


/* Right */

.main .right {
    float: left;
    width: 500px;
    height: 600px;
    margin-left: 50px;
    background-color: pink;
}



span {
    margin-left: 50px;
}


.slider-box {
    display: inline;
}

.slider {
    float: left;
    width: 300px;
    height: 60px;
    padding: 0px;
}


.slider-box span {
    float: left;
    line-height: 60px;
}





.next button{
    float: right;
    margin-top: 30px;
    
    width: 200px;
    height: 100px;
    background-color: pink;
    border-radius: 20px;
    font-family: Lato-Black;
    line-height: 100px;
    text-align: center;
    font-size: 36px;
}