<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="../static/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Body Virtualisation APP - Login</title>
</head>

<body>



    <div class="container">

        <div class="form-box">
            <div class="login-box">
                <h1>Login</h1>
                <input name="modelname" type="text" placeholder="Login with your name">
                <button>
                    Login
                </button>
            </div>

            <div class="register-box hidden">
                <h1>Register</h1>
                <input name="modelname"  type="text" placeholder="Enter a unique name">
                <button>
                    Register
                </button>
            </div>
        </div>

        <!-- Left Box: Login -->
        <div class="con-box left">
            <h2>
                <span> BODY VISUALIZATION APP </span>
            </h2>            

         
            <p>一些想说的话</p>
            <img src="../static/images/yoimiya.jpg">
            <p>
                Already Have an account?
            </p>
            <button id="login">
                Login
            </button>

        </div>

        <!-- Right Box: Register -->
        <div class="con-box right">
            <h2>
                <span> BODY VISUALIZATION APP </span>
            </h2>

          
            <p>一些想说的话</p>
            <img src="../static/images/yoimiya.jpg">
            <p>
                Don't have an account?
            </p>
            <button id="register">
                Register
            </button>
        </div>
    </div>

    <!-- JS -->
    <script>
        let login = document.getElementById("login");
        let register = document.getElementById("register");
        let form_box = document.getElementsByClassName("form-box")[0];
        let register_box = document.getElementsByClassName("register-box")[0];
        let login_box = document.getElementsByClassName("login-box")[0];
        register.addEventListener('click',()=>{
            form_box.style.transform='translateX(80%)';
            login_box.classList.add('hidden');
            register_box.classList.remove('hidden');
        })
        login.addEventListener('click',()=>{
            form_box.style.transform='translateX(0%)';
            register_box.classList.add('hidden');
            login_box.classList.remove('hidden');
        })
    </script>



</body>

</html>