<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="../static/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Body Virtualisation APP - Login</title>
</head>

<body>



    <div class="wrapper register-block">
        <h3 class="login_header"> P50 - Body Visualization App </h3>

        <div class="login">

            <div class="login_old">

                <h3>Have an account?</h3>
                <input type="text" placeholder="Enter a unique name">
                <button type="button"> 
                    <a href="step3.html">
                        Login
                    </a>    
                </button>
            </div>

            <div class="register_new">
                <h3>New User</h3>
                <input type="text" placeholder="Enter a unique name">
                <button type="button"> 
                    <a href="step2.html">
                        Register
                    </a>
                </button>
            </div>

        </div>

        <!-- <div class="form">

            <form class="register-form">
                <div class="register-title">
                    Register
                </div>
                <input type="text" placeholder="User Name">
                <input type="text" placeholder="Password">
                <input type="text" placeholder="Email">
                <button type="button"> Register</button>
                <p class="message">
                    Already Registered?
                    <a href="#">
                        Login
                    </a>
                </p>
            </form>
            <form class="login-form">
                <div class="register-title">
                    Login
                </div>
                <input type="text" placeholder="User Name">
                <input type="password" placeholder="Password">
                <button type="button"> Login </button>
                <p class="message">
                    Don't have an account?
                    <a href="#">
                        Register
                    </a>
                </p>
                <p class="reset">
                    Forgot password?
                    <a href="./forgot_password.html">
                        Reset
                    </a>
                </p>
            </form>
            </script>
        </div> -->
    </div>



</body>

</html>