<!DOCTYPE html>
{% include 'flashed_message.html' %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="../static/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../static/css/step2.css">
    <link rel="stylesheet" href="../static/css/loading.css">
    <link href="../static/css/list-groups.css" rel="stylesheet">
    <link rel="Bookmark" href="../static/images/muscle.png" /> 
    <link rel="shortcut icon" href="../static/images/muscle.png" /> 
    <link rel="icon" href="../static/images/muscle.png" />
    <title>Body Virtualisation APP - Step 2</title>


    <!-- three.js -->
    <script type="importmap">
        {
            "imports": {
            "three": "https://unpkg.com/three@0.143.0/build/three.module.js"
            }
        }
    </script>


    <script type="module" src="/static/js/THREEControllerS2.js"></script>

</head>

<body>


    <div id="preloader">
    </div>




    <!-- Main Area -->
    <div class="main" id="main">
        <p id="model_age_group" style="display: none">{{ basic_model }}</p>
        <!-- Title -->
        <div class="title">
            <h1> Customise your model! </h1>
        </div>
        <div id="canvas">
        </div>

        <div class="right">
            <form class="next" action="/step2" method='POST'>

                <div class="hair_style">
                    <img src="../static/images/hair_style_1.png" class="icon">
                    <ul>
                        <li>
                            <input class="list-group-item-check" type="radio" name="hair_style" id="hair_style_1"
                                value="" checked>
                            <label class="list-group-item" for="hair_style_1" />
                                <img src="../static/images/option_1-removebg-preview.png" class="img">
                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="hair_style" id="hair_style_2"
                                value="">
                            <label class="list-group-item" for="hair_style_2">
                                <img src="../static/images/option%202.png" class="img">
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="clothing_style">
                    <img src="../static/images/clothing_style_1.png" class="icon">
                    <ul>
                        <li>
                            <input class="list-group-item-check" type="radio" name="clothing_style"
                                id="clothing_style_1" value="" checked>
                            <label class="list-group-item" for="clothing_style_1" />
                            <img src="../static/images/clothing_style_1.png" class="img">
                            <div class="bottom_text">clothing style 1</div>
                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="clothing_style"
                                id="clothing_style_2" value="">
                            <label class="list-group-item" for="clothing_style_2">
                                <img src="../static/images/clothing_style_2.png" class="img">
                                <div class="bottom_text">clothing style 2</div>

                            </label>
                        </li>

                    </ul>
                </div>

                <HR>

                <div class="hair_colour">
                    <img src="../static/images/hair_colour_1.png" class="icon">
                    <ul>
                        <li>
                            <input class="list-group-item-check" type="radio" name="hair_colour" id="hair_colour_1"
                                value="Hair, /static/new_model/{{ basic_model }}/model1/option1_texture/_16.png"
                                checked>
                            <label class="list-group-item" for="hair_colour_1" />
                            <img src="../static/images/hair_colour_1.png" class="img">
                            <div class="bottom_text">hair colour 1</div>
                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="hair_colour" id="hair_colour_2"
                                value="Hair, /static/new_model/{{ basic_model }}/model1/option2_texture/_16.png">
                            <label class="list-group-item" for="hair_colour_2">
                                <img src="../static/images/hair_colour_2.png" class="img">
                                <div class="bottom_text">hair colour 2</div>

                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="hair_colour" id="hair_colour_3"
                                value="Hair, /static/new_model/{{ basic_model }}/model1/option3_texture/_16.png">
                            <label class="list-group-item" for="hair_colour_3">
                                <img src="../static/images/hair_colour_3.png" class="img">
                                <div class="bottom_text">hair colour 3</div>

                            </label>
                        </li>
                    </ul>
                </div>
                <div class="top">
                    <img src="../static/images/top_colour_1.png" class="icon">
                    <ul>
                        <li>
                            <input class="list-group-item-check" type="radio" name="top" id="top_1"
                                value="Tops, /static/new_model/{{ basic_model }}/model1/option1_texture/_15.png"
                                checked>
                            <label class="list-group-item" for="top_1" />
                            <img src="../static/images/top_colour_1.png" class="img">
                            <div class="bottom_text">top colour 1</div>
                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="top" id="top_2"
                                value="Tops, /static/new_model/{{ basic_model }}/model1/option2_texture/_15.png">
                            <label class="list-group-item" for="top_2">
                                <img src="../static/images/top_colour_2.png" class="img">
                                <div class="bottom_text">top colour 2</div>

                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="top" id="top_3"
                                value="Tops, /static/new_model/{{ basic_model }}/model1/option3_texture/_15.png">
                            <label class="list-group-item" for="top_3">
                                <img src="../static/images/top_colour_3.png" class="img">
                                <div class="bottom_text">top colour 3</div>

                            </label>
                        </li>
                    </ul>
                </div>
                <div class="bot">
                    <img src="../static/images/bot_colour_1.png" class="icon">
                    <ul>
                        <li>
                            <input class="list-group-item-check" type="radio" name="bot" id="bot_1"
                                value="Bottoms, /static/new_model/{{ basic_model }}/model1/option1_texture/_13.png"
                                checked>
                            <label class="list-group-item" for="bot_1" />
                            <img src="../static/images/bot_colour_1.png" class="img">
                            <div class="bottom_text">bot colour 1</div>
                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="bot" id="bot_2"
                                value="Bottoms, /static/new_model/{{ basic_model }}/model1/option2_texture/_13.png">
                            <label class="list-group-item" for="bot_2">
                                <img src="../static/images/bot_colour_2.png" class="img">
                                <div class="bottom_text">bot colour 2</div>

                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="bot" id="bot_3"
                                value="Bottoms, /static/new_model/{{ basic_model }}/model1/option3_texture/_13.png">
                            <label class="list-group-item" for="bot_3">
                                <img src="../static/images/bot_colour_3.png" class="img">
                                <div class="bottom_text">bot colour 3</div>

                            </label>
                        </li>

                    </ul>
                </div>
                <div class="skin_colour">
                    <img src="../static/images/skin_colour_1.png" class="icon">
                    <ul>
                        <li>
                            <input class="list-group-item-check" type="radio" name="skin_colour" id="skin_colour_1"
                                value="Body_00, /static/new_model/{{ basic_model }}/model1/option1_texture/_10.png,Face_00, /static/new_model/{{ basic_model }}/model1/option1_texture/_04.png"
                                checked>
                            <label class="list-group-item" for="skin_colour_1" />
                            <img src="../static/images/skin_colour_1.png" class="img">
                            <div class="bottom_text">skin colour 1</div>
                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="skin_colour" id="skin_colour_2"
                                value="Body_00, /static/new_model/{{ basic_model }}/model1/option2_texture/_10.png,Face_00, /static/new_model/{{ basic_model }}/model1/option2_texture/_04.png">
                            <label class="list-group-item" for="skin_colour_2">
                                <img src="../static/images/skin_colour_2.png" class="img">
                                <div class="bottom_text">skin colour 2</div>

                            </label>
                        </li>
                        <li>
                            <input class="list-group-item-check" type="radio" name="skin_colour" id="skin_colour_3"
                                value="Body_00, /static/new_model/{{ basic_model }}/model1/option3_texture/_10.png,Face_00,  /static/new_model/{{ basic_model }}/model1/option3_texture/_04.png">
                            <label class="list-group-item" for="skin_colour_3">
                                <img src="../static/images/skin_colour_3.png" class="img">
                                <div class="bottom_text">skin colour 3</div>

                            </label>
                        </li>
                    </ul>
                </div>
                {#            <form class="next" action="/step2" method='POST'>#}
                <button>
                    Next Step
                </button>
            </form>
        </div>
    </div>

    <script>
        var m = document.getElementById("main")
        
        $(window).on("load", function () {
            m.style.display = 'none'
            $("#preloader").fadeOut("slow"); 
            m.style.display = 'block'
        });
        // $('#main').load( "load", function () {
        
        // });
        
    </script>


</body>

</html>