<!DOCTYPE html>
<html lang="en">

<head>
    {#    <meta charset="UTF-8">#}
    {#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    {#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    {#    <link rel="stylesheet" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.css">#}
    {##}
    {#    <!-- DATE-PICKER -->#}
    {#    <link rel="stylesheet" href="../static/vendor/date-picker/css/datepicker.min.css">#}
    {##}
    {#    <!-- STYLE CSS -->#}
    {#    <link rel="stylesheet" href="../static/css/step4.css">#}

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/">
    <link href="../static/css/bootstrap-5.2.0-css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/step4.css" rel="stylesheet">

    <title>Body Virtualisation APP - Health Report</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/18.6.4/tween.umd.js"
        integrity="sha512-lIKG1kC5TMb1Zx32vdz1n31YJMZRknVY20U9MJ28hD3y2c0OKN0Ce5NhJji78v8zX5UOSsm+MTBOcJt7yMBnSg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="importmap">
        {
            "imports": {
            "three": "https://unpkg.com/three@0.143.0/build/three.module.js"
            }
        }
    </script>

    <script type="module" src="/static/js/THREEControllerS4.js"></script>

    <script type="text/javascript" src="static/js/jsdelivr.js"></script>

    <script type="text/javascript" src="static/js/rawgit.js"></script>

    <!--    for table-->
    <script type="text/javascript" src="static/js/googleapis.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        th {
            color: #fff;
        }
    </style>
        <link rel="Bookmark" href="../static/images/muscle.png" /> 
        <link rel="shortcut icon" href="../static/images/muscle.png" /> 
        <link rel="icon" href="../static/images/muscle.png" />
</head>

<body>

    <div id="preloader">

    </div>

    <script>
        $(window).on("load", function () {
            $("#preloader").fadeOut("slow");
        });
    </script>

    <p id="hair_color" style="display: none">{{ model_texture[0] }}</p>
    <p id="skin_color" style="display: none">{{ model_texture[1]}}</p>
    <p id="top_dress" style="display: none">{{ model_texture[2] }}</p>
    <p id="bottom_dress" style="display: none">{{ model_texture[3] }}</p>
    <p id="model_path" style="display: none">{{ model_texture[4] }}</p>
    <p id="basic_model_parameters_range" style="display: none">{{body_parameters_range}}</p>
    <p id="latest_records" style="display: none">{{ latest_records|safe}}</p>

    <main class="main">
        <div class="main-title">
            Your Health Report
        </div>

        <div class="comparison">
            <h2> Part 1. Model Comparison</h2>
            <div class="canvas">
                <div class="canvas-text" id = "before_canvas_text">
                    Previous Model
                </div>
                <div id="before_canvas">

                    <!-- <img src="../static/images/fake_step4_1.jpg" alt="">
                    老模型 -->
                </div>
            </div>
            <div class="canvas">
                <div class="canvas-text" id = "after_canvas_text">
                    Latest Model
                </div>
                <div class="canvas" id="after_canvas">

                    <!-- <img src="../static/images/fake_step4_2.jpg" alt=""> -->
                    <!-- 最新模型 -->
                </div>
            </div>
            <div class="angle_button">
                <hr>
                <h4> Selected Perspectives: </h4>
                <button type="button" id="Top">Top</button>
                <button type="button" id="Bottom">Bottom</button>
            </div>
        </div>



        <script>
            function retract_records_data(records, key) {
                var toBeAppendedList = []
                for (let i = 0; i < records.length; i++) {
                    toBeAppendedList.push(records[i][key])
                }
                return toBeAppendedList
            }

            var historic_records = {{historic_records | safe}}
            var weight_records = {{weight_records | safe}}
            var dates = retract_records_data(historic_records, "update_time")
        </script>

        <h1> Part 2. Basic Health Statistics </h1>

        <div class="report_text" id="basic_stat">

        </div>

        <script>

            var lst = {{parameter_change_report | tojson}} 
            var block = document.getElementById("basic_stat")

            var str = ""
            for (var i = 0; i < lst.length; i ++) {
                str += lst[i] + "<br>"
            }
            block.innerHTML = str;
        </script>

        <h1> Part 3. Advanced Health Statistics </h1>

        <section class="report">

            <div id="bmi" class="chartSection">
                <div class="sub-header">
                    <h2> BMI Changes</h2>
                    <img id='detail_1' src="../static/images/hint.jpg">
                </div>
                <hr>
                <div class="report_text" id="bmi_stat">
                    <span> Your current body mass index (BMI) is </span>
                    <span class="important_val" id="bmi_val_1"> {bmi} </span>  
                    <span>. This BMI falls within a(n) </span>
                    <span class="important_val" id="bmi_val_2"> {category} </span>
                    <span> range. </span>
                </div>

                <script>
                    var lst = {{bmi_report_list | tojson}}
                    
                    var x = 10;
                    var y = 20;
                    $('img#detail_1').mouseover(function (e) {
                        $('body').append('<div id="mytitle" >' +'<span class="text"></span>'+ '</div>');
                        $('.text').text('')
                        var lst = {{bmi_report_list | tojson}}
                        $('.text').text(lst[2])

                        $('#mytitle').css({
                            'left': (e.pageX + x + 'px'),
                            'top': (e.pageY + y - 80 + 'px')
                        }).show();
                    }).mouseout(function () { 
                        $('#mytitle').remove();
                    }).mousemove(function (e) {
                        $('#mytitle').css({
                            'left': (e.pageX + x +10 + 'px'),
                            'top': (e.pageY + y - 20 + 'px')
                        }).show();
                    })
                    document.getElementById("bmi_val_1").innerHTML = lst[0]
                    document.getElementById("bmi_val_2").innerHTML = lst[1]
                    
                </script>

                <canvas id="bmiChart" width="600" height="300"></canvas>
                <script>
                    var labels = dates
                    var bmi_records = {{bmi_records | safe}}
                    const bmiData = {
                        labels: labels,
                        datasets: [{
                            label: 'BMI',
                            borderColor: 'rgb(255,139,139)',
                            fill: true,
                            pointStyle: 'circle',
                            pointRadius: 6,
                            pointHoverRadius: 10,
                            data: bmi_records
                        }]
                    };

                    const bmiConfig = {
                        type: 'line',
                        data: bmiData,
                        options: {
                            responsive: false,
                            suggestedMin: 13,
                            suggestedMax: 27

                        }
                    };
                    const bmiChangeChart = new Chart(
                        document.getElementById('bmiChart'),
                        bmiConfig
                    );
                </script>
            </div>

            <div id="fat" class="chartSection">
                <div class="sub-header">
                    <h2> Body Fat Rate Changes</h2>
                    <img id='detail_2' src="../static/images/hint.jpg">
                </div>
                <hr>
                
                <div class="report_text" id="bfr_stat">
                    <span> Your current body fat rate is </span>
                    <span class="important_val" id="bfr_val_1"> {bfr} </span>  
                    <span>%. This body fate rate falls within the </span>
                    <span class="important_val" id="bfr_val_2"> {category} </span>
                    <span> range. </span>
                </div>

                <script>
                    
                    var lst = {{bfr_report_list | tojson}}
                    var x = 10;
                    var y = 20;
                    $('img#detail_2').mouseover(function (e) {
                        $('body').append('<div id="mytitle" >' +'<span class="text"></span>'+ '</div>');
                        $('.text').text('')
                        var lst = {{bfr_report_list | tojson}}
                        $('.text').text(lst[2])

                        $('#mytitle').css({
                            'left': (e.pageX + x + 'px'),
                            'top': (e.pageY + y - 80 + 'px')
                        }).show();
                    }).mouseout(function () { 
                        $('#mytitle').remove();
                    }).mousemove(function (e) {
                        $('#mytitle').css({
                            'left': (e.pageX + x +10 + 'px'),
                            'top': (e.pageY + y - 20 + 'px')
                        }).show();
                    })
                    document.getElementById("bfr_val_1").innerHTML = lst[0];
                    document.getElementById("bfr_val_2").innerHTML = lst[1];
                    
                </script> 



                <canvas id="bodyFatRateChart" width="600" height="300"></canvas>
                <script>
                    var labels = dates
                    var bodyFatRateRecords = {{body_fat_rate_records | safe}}
                    const bodyFatRateData = {
                        labels: labels,
                        datasets: [{
                            label: 'Body Fat Rate',
                            borderColor: 'rgb(0,100,162)',
                            fill: true,
                            pointStyle: 'triangle',
                            pointRadius: 6,
                            pointHoverRadius: 10,
                            data: bodyFatRateRecords
                        }]
                    };

                    const bodyFatRateConfig = {
                        type: 'line',
                        data: bodyFatRateData,
                        options: {
                            scales: {
                                yAxes: {
                                    ticks: {
                                        callback: function (value, index, ticks) {
                                            return value + "%";
                                        }
                                    }
                                }
                            },
                            suggestedMin: 0,
                            suggestedMax: 40,
                            responsive: false

                        }
                    };
                    const bodyFatRateChangeChart = new Chart(
                        document.getElementById('bodyFatRateChart'),
                        bodyFatRateConfig
                    );
                </script>
            </div>

            <div id="weight" class="chartSection">

                
                <div class="sub-header">
                    <h2> Weight Changes </h2>
                    <img id='detail_5' src="../static/images/hint.jpg">
                </div>
                <hr>

                <div class="report_text" id="weight_stat">
                    <span> Your weight has</span>
                    <span class="important_val" id="w_val_1"> {change} </span>
                    <span> since</span>    
                    <span class="important_val" id="w_val_2"> {earliest_time}</span>  
                </div>

                <script>    
                    var lst = {{weight_report | tojson}}
                    var x = 10;
                    var y = 20;
                    $('img#detail_5').mouseover(function (e) {
                        $('body').append('<div id="mytitle" >' +'<span class="text"></span>'+ '</div>');
                        $('.text').text('')
                        var lst = {{weight_report | tojson}}
                        $('.text').text(lst[2])

                        $('#mytitle').css({
                            'left': (e.pageX + x + 'px'),
                            'top': (e.pageY + y - 80 + 'px')
                        }).show();
                    }).mouseout(function () { 
                        $('#mytitle').remove();
                    }).mousemove(function (e) {
                        $('#mytitle').css({
                            'left': (e.pageX + x +10 + 'px'),
                            'top': (e.pageY + y - 20 + 'px')
                        }).show();
                    })
                    document.getElementById("w_val_1").innerHTML = lst[0]
                    document.getElementById("w_val_2").innerHTML = lst[1]
                </script> 

                <canvas id="weightChart" width="600" height="300"></canvas>

                <script>
                    const ctx = document.getElementById('weightChart').getContext('2d');
                    const weightChangeChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'Weight',
                                data: weight_records,
                                fill: true,
                                pointStyle: 'rect',
                                pointRadius: 6,
                                pointHoverRadius: 10,
                                borderColor: ['rgb(86,168,179)'],
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: {
                                    ticks: {
                                        callback: function (value, index, ticks) {
                                            return value + " kg";
                                        }
                                    },
                                    suggestedMin: 30,
                                    suggestedMax: 150
                                }
                            },
                            responsive: false

                        }
                    });
                </script>
            </div>

            <div id="bmr" class="chartSection">
                <div class="sub-header">
                    <h2> BMR Changes </h2>
                    <img id='detail_3' src="../static/images/hint.jpg">
                </div>
                <hr>

                <div class="report_text" id="bmr_stat">
                    <span>As for your basal metabolic rate (BMR), you are currently suggested to take in at least</span>
                    <span id="bmr_val" class="important_val">  </span>
                    <span> calories from your daily meal</span>
                </div>

                <script>
                    
                    var lst = {{bmr_report_list | tojson}}
                    var x = 10;
                    var y = 20;
                    $('img#detail_3').mouseover(function (e) {
                        $('body').append('<div id="mytitle" >' +'<span class="text"></span>'+ '</div>');
                        $('.text').text('')
                        var lst = {{bmr_report_list | tojson}}
                        $('.text').text(lst[2])

                        $('#mytitle').css({
                            'left': (e.pageX + x + 'px'),
                            'top': (e.pageY + y - 80 + 'px')
                        }).show();
                    }).mouseout(function () { 
                        $('#mytitle').remove();
                    }).mousemove(function (e) {
                        $('#mytitle').css({
                            'left': (e.pageX + x +10 + 'px'),
                            'top': (e.pageY + y - 20 + 'px')
                        }).show();
                    })
                    var target = document.getElementById("bmr_val")
                    target.innerHTML = lst[0]
                </script> 
                <canvas id="bmrChart" width="600" height="300"></canvas>
                <script>
                    var labels = dates;
                    var bmr_records = {{bmr_records | safe }};
                    const bmrData = {
                        labels: labels,
                        datasets: [{
                            label: 'BMR',
                            borderColor: 'rgb(151,131,166)',
                            pointStyle: 'rectRot',
                            pointRadius: 6,
                            pointHoverRadius: 10,
                            fill: true,
                            data: bmr_records
                        }]
                    };
                    const bmrConfig = {
                        type: 'line',
                        data: bmrData,
                        options: {
                            scales: {
                                yAxes: {
                                    ticks: {
                                        callback: function (value, index, ticks) {
                                            return value + " cal";
                                        }
                                    },
                                    suggestedMin: 1000,
                                    suggestedMax: 2500
                                }
                            },
                            responsive: false,


                        }
                    };
                    const bmrChangeChart = new Chart(
                        document.getElementById('bmrChart'),
                        bmrConfig
                    );
                </script>
            </div>

            <div>
                <h2>Latest 20 Records</h2>
                <table class="table table-striped" style="width:75%">
                    <tr class="bg-info">
                        <th>Update Time</th>
                        <th>Weight</th>
                        <th>BMI</th>
                        <th>BMR</th>
                        <th>Body Fat Rate</th>
                    </tr>

                    <tbody id="bodyIndicatorsTable">

                    </tbody>
                </table>
                <script>
                    var last_twenty_combined_records = {{ last_twenty_combined_records | safe }};
                    buildTable(last_twenty_combined_records)

                    function buildTable(data) {
                        var table = document.getElementById('bodyIndicatorsTable')

                        for (var i = 0; i < data.length; i++) {
                            var row = `<tr>
                                    <td>${data[i].update_time}</td>
                                    <td>${data[i].weight} kg</td>
                                    <td>${data[i].bmi}</td>
                                    <td>${data[i].bmr} cal</td>
                                    <td>${data[i].body_fat_rate}%</td>
                              </tr>`
                            table.innerHTML += row


                        }
                    }
                </script>
            </div>
        </section>
        <script>
            function setFirstChild() {
                var isMale = Boolean({{is_male}});

                var topElement = isMale ?
                    document.getElementById("fat") :
                    document.getElementById("weight");

                const parent = topElement.parentNode;
                parent.insertBefore(topElement, parent.firstChild);
            }

            setFirstChild()
        </script>






    </main>
    </div>
    <script src="../static/js/bootstrap-5.2.0-js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
    </script>
    <script src="../static/js/dashboard.js"></script>


    <!-- Buttons -->
    <form class="last" action="/step3" method='GET'>
        <button>
            Step 3
        </button>
    </form>

    <form class="logout" action="/logout" method='GET'>
        <button>
            Logout
        </button>
    </form>




</body>

</html>