<!DOCTYPE html>
{% include 'flashed_message.html' %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.css">

    <!-- DATE-PICKER -->
    <link rel="stylesheet" href="../static/vendor/date-picker/css/datepicker.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../static/css/step2.css">
    <title>Body Virtualisation APP - Step 1 </title>
    <title>Step 2</title>


    <!-- three.js -->
    <script type="importmap">
        {
            "imports": {
            "three": "https://unpkg.com/three@0.143.0/build/three.module.js"
            }
        }
    </script>

    <script type = "module" src="/static/js/THREEControllerS2.js"></script>  
</head>

<body>


    <!-- Title -->
    <div class="title">
        <h1> Step 2 - Customise your model <h1>
    </div>


    <!-- Main Area -->
    <div class="main">
        <div id="canvas">
            
        </div>
        <div class="right">
            <div class="clothes">
                <ul>
                    <li><label for="cont_01"><img src="../static/images/step-1.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-2.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-3.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-4.png" class="img" id="img_01" /></label>
                    </li>
                    <!-- example -->
                    <input id="testButton" type = "button"  
                            name="N00_001_01_Bottoms_01_CLOTH_(Instance), /static/model/old_male/model1/Old Male.vrm.textures/_12.png" 
                            value = "change" > 
                    <!-- end example -->
                </ul>
            </div>
            <div class="hair">
                <ul>
                    <li><label for="cont_01"><img src="../static/images/step-1.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-2.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-3.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-4.png" class="img" id="img_01" /></label>
                    </li>
                </ul>
            </div>
            <div class="hair_color">
                <ul>
                    <li><label for="cont_01"><img src="../static/images/step-1.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-2.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-3.png" class="img" id="img_01" /></label>
                    </li>
                    <li><label for="cont_01"><img src="../static/images/step-4.png" class="img" id="img_01" /></label>
                    </li>
                </ul>
            </div>

            <form class="next" action="/step2" method='POST'>
                <button>
                    Next
                </button>
            </form>
        </div>
    </div>



</body>

</html>